.about {
  position: relative;

  max-width: 1100px;
  padding-bottom: 25px;
}

.about::before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 140px;

  background: var(--secondary-color-light);
}

.about__block {
  position: relative;

  padding-bottom: 25px;
}

.about__block::before {
  content: '';

  position: absolute;
  top: 25px;
  left: 50%;

  width: 100px;
  height: 100px;

  transform: translateX(-50px);

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.about__block:nth-of-type(2n-1) {
  background: var(--secondary-color-light);
}

.about__block--professional-community {
  padding-top: 120px;
}

.about__block--professional-community::before {
  background-image: url('../img/icon-professional-community.svg');
}

.about__block--jewish-world {
  padding-top: 144px;
}

.about__block--jewish-world::before {
  background-image: url('../img/icon-jewish-world.svg');
}

.about__block--distance-learning {
  padding-top: 137px;
}

.about__block--distance-learning::before {
  background-image: url('../img/icon-distance-learning.svg');
}

.about__paragraph,
.about__links {
  width: 80%;
  min-width: 270px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.about__links {
  position: relative;
}

.about__links a {
  width: 85%;
  max-width: 280px;
  margin-top: 25px;
}

.about__links a:first-child {
  margin-top: 0;
}

@media (--tablet) {
  .about {
    padding-bottom: 35px;
  }

  .about::before {
    height: 80px;
  }

  .about__block {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .about__block::before {
    top: 50%;
    left: 4.1%;

    transform: translateY(-50px);
  }

  .about__block:nth-of-type(2n)::before {
    right: 4.1%;
    left: auto;
  }

  .about__paragraph,
  .about__links {
    width: 91.8%;
    padding-left: 17.4%;
  }

  .about__block:nth-of-type(2n) .about__paragraph {
    padding-right: 125px;
    padding-left: 0;
  }

  .about__links {
    display: flex;

    justify-content: center;
  }

  .about__links a {
    width: 215px;
    margin: 0;
    margin-right: 35px;
  }

  .about__links a:last-child {
    margin-right: 0;
  }
}

@media (--desktop) {
  .about {
    display: flex;
    width: 91.8%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .about::before {
    display: none;
  }

  .about__block {
    width: 31%;
    padding: 0;
    padding-top: 135px;
  }

  .about__block::before,
  .about__block:nth-of-type(2n)::before {
    left: 50%;

    transform: translateX(-50px);
  }

  .about__block:nth-of-type(2n-1) {
    background: transparent;
  }

  .about__block--professional-community::before {
    top: 24px;

    background-image: url('../img/icon-professional-community-colorful.svg');
  }

  .about__block--jewish-world::before {
    top: 0;
  }

  .about__block--distance-learning::before {
    top: 7px;

    background-image: url('../img/icon-distance-learning-colorful.svg');
  }

  .about__paragraph {
    width: 100%;
    padding: 35px;

    background: var(--secondary-color-light);
    box-shadow: 3px 3px 0 0 var(--secondary-color-dark);
  }

  .about__block:nth-of-type(2n) .about__paragraph {
    padding: 35px;
  }

  .about__links {
    width: 100%;
    margin-top: 35px;
    padding: 0;
  }
}
