.btn {
  display: block;
  width: 90%;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 7px;
  padding-left: 7px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: white;
  background: black;
  border: 3px solid transparent;
}

.btn:focus {
  border-color: var(--yellow-1);

  outline: 3px solid black;
}

.btn:hover {
  color: var(--yellow-1);
}

.btn--yellow {
  color: black;
  background: var(--yellow-1);
}

.btn--yellow:focus {
  border-color: black;

  outline: 3px solid var(--yellow-1);
}

.btn--yellow:hover {
  color: black;
  background: white;
}
