.btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 2px;
  padding-bottom: 11px;
  padding-left: 7px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: white;
  background: black;
  border: 3px solid black;
}

.btn:focus {
  box-shadow:
    0 0 0 3px white,
    0 0 0 6px var(--secondary-color-dark);

  outline: none;
}

.btn:hover {
  color: black;
  background: white;
}

.btn--secondary-color-dark {
  color: var(--primary-color);
  background: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.btn--secondary-color-dark:focus {
  box-shadow:
    0 0 0 3px var(--primary-color),
    0 0 0 6px var(--secondary-color-dark);
}

.btn--secondary-color-dark:hover {
  color: var(--secondary-color-dark);
  background: var(--primary-color);
}

.btn--on-secondary-color-light {
  color: var(--secondary-color-light);
}

.btn--on-secondary-color-light:focus {
  box-shadow:
    0 0 0 3px var(--secondary-color-light),
    0 0 0 6px var(--secondary-color-dark);
}

.btn--on-secondary-color-light:hover {
  background: var(--secondary-color-light);
}

.btn--on-secondary-color-middle {
  color: var(--secondary-color-middle);
}

.btn--on-secondary-color-middle:focus {
  box-shadow:
    0 0 0 3px var(--secondary-color-middle),
    0 0 0 6px var(--secondary-color-dark);
}

.btn--on-secondary-color-middle:hover {
  background: var(--secondary-color-middle);
}

@media (--desktop) {
  .btn--on-secondary-color-light {
    color: white;
  }

  .btn--on-secondary-color-light:focus {
    box-shadow:
      0 0 0 3px white,
      0 0 0 6px var(--secondary-color-dark);
  }

  .btn--on-secondary-color-light:hover {
    background: white;
  }
}
