.conference {
  margin-top: 25px;
  padding-top: 15px;

  background: var(--secondary-color-light);
  box-shadow: 3px 3px 0 0 var(--secondary-color-dark);
}

.conference__heading {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;

  font-size: 22px;

  color: black;
}

.conference__audience {
  margin-right: 20px;
  margin-left: 20px;

  font-style: italic;
  font-size: 14px;
}

.conference__description {
  margin: 0;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.conference__link {
  margin-left: -3px;

  text-decoration-skip-ink: auto;

  color: black;
  border: 3px solid transparent;
}

.conference__link:focus {
  border-color: var(--secondary-color-dark);

  outline: none;
}

.conference__link:hover {
  text-decoration: none;
}

.conference__stats {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;

  font-weight: bold;
  text-align: center;
}

.conference__stats-item {
  width: 230px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;

  list-style: none;

  background-repeat: no-repeat;
  background-position: 35% 0;
  background-size: 25%;
}

.conference__stats-item:nth-child(2n-1) {
  background-position: 65% 0;
}

.conference__stats-item--hours {
  background-image: url('../img/icon-hours.svg');
}

.conference__stats-item--participants {
  background-image: url('../img/icon-participants.svg');
}

.conference__stats-item--volunteers {
  background-image: url('../img/icon-volunteers.svg');
}

.conference__stats-item--cities {
  background-image: url('../img/icon-cities.svg');
}

.conference__stats-item--countries {
  background-image: url('../img/icon-countries.svg');
}

.conference__stats-item--organizations {
  background-image: url('../img/icon-organizations.svg');
}

.conference__stats-number {
  font-size: 36px;
}

.conference__stats-unit {
  display: block;
}

.conference__participate {
  margin-top: 25px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  color: black;
  background-color: var(--secondary-color-middle);
}

.conference__topic {
  margin: 0;

  font-size: 22px;
}

.conference__topic + .conference__date {
  display: block;
  margin-top: 25px;
}

.conference__participate a {
  width: 85%;
  max-width: 280px;
  margin-top: 25px;
}

@media (--tablet) {
  .conference {
    margin-top: 35px;
    padding-top: 35px;
  }

  .conference__heading,
  .conference__audience,
  .conference__description {
    margin-right: 35px;
    margin-left: 35px;
  }

  .conference__heading {
    font-size: 32px;
  }

  .conference__stats {
    display: flex;
  }

  .conference__stats-item,
  .conference__stats-item:nth-child(2n-1) {
    background-position: 50% 0;
  }

  .conference__stats-item {
    padding-bottom: 25px;

    background-size: contain;
  }

  .conference__participate {
    display: flex;
    margin-top: 35px;
    padding: 35px;

    align-items: baseline;
    flex-wrap: wrap;
  }

  .conference__topic {
    max-width: 65.3%;
  }

  .conference__topic + .conference__date {
    width: 100%;

    order: 1;
  }

  .conference__participate a {
    width: 215px;
    margin: 0;
    margin-left: auto;
  }
}
