.donation {
  display: block;
  padding: 6px;

  font-weight: bold;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: white;
  background: #C00;
  border: 3px solid transparent;
}

.donation:hover {
  background: red;
}

.donation:focus {
  border-color: var(--yellow-1);
  outline: none;
}
