.footer {
  margin-top: 50px;

  color: white;
  background: var(--primary-color);
}

.footer__container {
  width: 80%;
  min-width: 270px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__logo {
  display: none;
}

.footer__menu-list,
.footer__submenu-list,
.footer__documents {
  margin: 0;
  padding: 0;
}

.footer__menu-item,
.footer__submenu-item,
.footer__documents-item {
  list-style: none;
}

.footer__menu-item {
  margin-top: 25px;
}

.footer__menu-link,
.footer__submenu-link,
.footer__documents-link {
  padding-right: 3px;
  padding-left: 3px;

  text-decoration: none;

  color: white;
  border: 3px solid transparent;
}

.footer__menu-link:focus,
.footer__submenu-link:focus,
.footer__documents-link:focus {
  border-color: var(--secondary-color-dark);

  outline: none;
}

.footer__menu-link {
  font-weight: bold;

  color: var(--secondary-color-dark);
}

.footer__menu-link:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.footer__submenu-link:hover,
.footer__documents-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer__documents {
  margin-top: 25px;
}

.footer__documents-link {
  color: rgba(255, 255, 255, 0.5);
}

.footer__copyright {
  display: flex;
  margin-top: 25px;
  padding-right: 3px;
  padding-left: 3px;

  color: rgba(255, 255, 255, 0.5);
}

.footer__copyright-symbol {
  margin-right: 6px;
}

@media (--tablet) {
  .footer__container {
    display: flex;
    width: 90%;
    max-width: 1100px;
    padding-top: 35px;
    padding-bottom: 35px;

    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer__block {
    display: flex;
    width: 300px;

    flex-direction: column;
    justify-content: center;
  }

  .footer__logo {
    display: block;
  }

  .footer__logo:focus {
    box-shadow:
      0 0 0 3px var(--primary-color),
      0 0 0 6px var(--secondary-color-dark);

    outline: none;
  }

  .footer__logo img {
    width: 300px;
    height: 100px;
  }

  .footer__menu-list {
    width: 42%;
  }

  .footer__menu-item:first-child {
    margin-top: 0;
  }

  .footer__documents {
    display: flex;
    width: 100%;

    justify-content: space-between;
  }

  .footer__copyright {
    margin-left: auto;
  }
}

@media (--desktop) {
  .footer__menu-list {
    display: flex;
    width: 55%;
    height: 110px;

    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__menu-item {
    margin-top: 0;
  }

  .footer__documents,
  .footer__copyright {
    margin-top: 35px;
  }
}

@media (--large-desktop) {
  .footer__documents {
    width: 630px;
  }

  .footer__copyright {
    width: 435px;
  }
}
