.funds {
  display: flex;
  width: 84%;
  max-width: 1100px;
  margin: 0;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.funds__item {
  margin-top: 25px;
  margin-right: 12px;
  margin-left: 12px;

  list-style: none;
}

.funds__link {
  display: flex;

  justify-content: center;

  opacity: 0.75;
  filter: grayscale(1);
}

.funds__link:focus,
.funds__link:hover {
  opacity: 1;
  filter: grayscale(0);
}

.funds__link:focus {
  outline: 0;
}

@media (--tablet) {
  .funds__item {
    margin-top: 60px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .funds__item--gpg img {
    width: 150px;
    height: 48px;
  }

  .funds__item--uja img {
    width: 150px;
    height: 45px;
  }

  .funds__item--jafi img {
    width: 150px;
    height: 35px;
  }

  .funds__item--fjnca img {
    width: 75px;
    height: 75px;
  }

  .funds__item--aleph img {
    width: 75px;
    height: 56px;
  }

  .funds__item--caf img {
    width: 150px;
    height: 24px;
  }

  .funds__item--pj img {
    width: 150px;
    height: 51px;
  }

  .funds__item--jhf img {
    width: 107px;
    height: 113px;
  }

  .funds__item--rjc img {
    width: 75px;
    height: 75px;
  }

  .funds__item--jafi-nw img {
    width: 150px;
    height: 38px;
  }
}

@media (--desktop) {
  .funds__item--gpg img {
    width: 200px;
    height: 64px;
  }

  .funds__item--uja img {
    width: 200px;
    height: 60px;
  }

  .funds__item--jafi img {
    width: 200px;
    height: 46px;
  }

  .funds__item--fjnca img {
    width: 100px;
    height: 100px;
  }

  .funds__item--aleph img {
    width: 100px;
    height: 74px;
  }

  .funds__item--caf img {
    width: 200px;
    height: 32px;
  }

  .funds__item--pj img {
    width: 200px;
    height: 68px;
  }

  .funds__item--jhf img {
    width: 142px;
    height: 150px;
  }

  .funds__item--rjc img {
    width: 100px;
    height: 100px;
  }

  .funds__item--jafi-nw img {
    width: 200px;
    height: 50px;
  }
}
