.gallery {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

  background: var(--secondary-color-light);
}

.gallery__frame {
  position: relative;

  width: 100%;
  overflow: hidden;

  font-size: 0;
}

.gallery__content {
  position: relative;
  left: 0;

  display: flex;
  width: 100%;

  transition: left 1s;
}

.gallery__img {
  width: 100%;

  flex-shrink: 0;
}

.gallery__img img {
  width: 100%;
}

@media (--tablet) {
  .gallery {
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 0;
  }

  .gallery__content {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery__img {
    width: 50%;
    margin-bottom: 35px;
    padding-right: 17px;

    flex-shrink: 1;
  }

  .gallery__img:nth-child(2n) {
    padding-right: 0;
    padding-left: 17px;
  }
}

@media (--desktop) {
  .gallery {
    margin-top: 100px;
  }
}
