.header {
  padding-top: 11px;
  padding-left: 28px;

  background: var(--main-color);
}

.header--no-js {
  padding-left: 0;

  background: black;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header--no-js .header__logo {
  margin-left: 28px;
}

.header__logo img {
  width: 155px;
  height: 50px;
}

.header__menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 86px;
  height: 70px;
  padding: 0;

  background: none;
  border: 3px solid transparent;
}

.header__menu-toggle::before,
.header__menu-toggle--close::after {
  content: '';

  position: absolute;
  right: 25px;

  width: 30px;
  height: 3px;

  background: white;
}

.header__menu-toggle::before {
  box-shadow:
    0 -10px 0 0 white,
    0 10px 0 0 white;
}

.header__menu-toggle:focus {
  border-color: var(--yellow-1);

  outline: none;
}

.header__menu-toggle--close::before {
  transform: rotate(-45deg);

  box-shadow: none;
}

.header__menu-toggle--close::after {
  transform: rotate(45deg);
}

.header--no-js .header__menu-toggle {
  display: none;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  padding-top: 70px;

  background: rgba(0, 0, 0, 0.95);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header--no-js .header__menu,
.header__menu-toggle--close + .header__menu {
  display: block;
}

.header--no-js .header__menu {
  position: static;

  padding-top: 0;
}

.header__menu-list,
.header__submenu-list {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__menu-item,
.header__submenu-item {
  list-style: none;
}

.header__menu-link,
.header__submenu-link {
  display: block;
  padding-right: 15px;
  padding-left: 78px;

  text-decoration: none;

  color: white;
  border: 3px solid transparent;
}

.header__menu-link:focus,
.header__submenu-link:focus {
  border-color: var(--yellow-1);

  outline: none;
}

.header__menu-link:hover,
.header__submenu-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.header__menu-link {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: bold;
}

.header__menu-link::before,
.header__search::before {
  content: '';

  position: absolute;
  top: 8px;
  left: 33px;

  width: 30px;
  height: 30px;
}

.header__menu-link:hover::before {
  opacity: 0.7;
}

.header__menu-link--big-events::before {
  background: transparent url('../img/icon-big-events.svg') no-repeat 0 0;
  background-size: contain;
}

.header__menu-link--js-for-schoolchidren::before {
  background: transparent url('../img/icon-js-for-schoolchildren.svg') no-repeat 0 0;
  background-size: contain;
}

.header__menu-link--professional-development::before {
  background: transparent url('../img/icon-professional-development.svg') no-repeat 0 0;
  background-size: contain;
}

.header__submenu-link {
  padding-top: 2px;
  padding-bottom: 2px;
}

.header__search {
  position: relative;

  display: flex;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 78px;

  font-size: 0;
}

.header__search::before {
  background: transparent url('../img/icon-search.svg') no-repeat 50%;
  background-size: 25px;
}

.header__search-field,
.header__search-button {
  margin-top: 12px;

  flex-grow: 1;

  font: inherit;

  color: white;
  background: transparent;
  border: none;
}

.header__search-field {
  width: 70%;
  margin-right: 8px;
  padding-right: 4px;
  padding-left: 4px;

  font-size: 16px;

  box-shadow: 0 2px 0 0 white;
  caret-color: var(--yellow-1);
}

.header__search-field:hover {
  box-shadow: 0 2px 0 0 var(--yellow-1);
}

.header__search-field:focus,
.header__search-button:focus,
.header__search-button:hover {
  color: var(--yellow-1);
  box-shadow: 0 0 0 2px var(--yellow-1);
}

.header__search-field:focus,
.header__search-button:focus {
  outline: none;
}

.header__search-button {
  width: 25%;
  max-width: 80px;
  padding-left: 4px;
  padding-right: 4px;

  font-size: 14px;

  box-shadow: 0 0 0 2px white;
}

@media (--tablet) {
  .header {
    padding-top: 0;
    padding-right: 21px;
    padding-left: 18px;
  }

  .header__container {
    display: flex;
  }

  .header--no-js {
    padding-bottom: 15px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .header--index {
    padding-right: 5%;
    padding-left: 4%;
  }

  .header--no-js.header--index {
    padding-left: 19px;
  }

  .header__logo {
    padding-top: 15px;
  }

  .header--no-js .header__logo {
    z-index: 1;

    margin-left: 0;
  }

  .header--index .header__logo {
    display: none;
  }

  .header__logo img {
    width: 170px;
    height: 55px;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__menu {
    position: static;

    display: block;
    margin-left: 14px;
    padding: 0;

    background: transparent;
    border: none;
  }

  .header--no-js .header__menu {
    display: flex;

    flex-direction: column;
  }

  .header--index .header__menu {
    margin: 0;
  }

  .header__nav {
    margin-right: -9px;
  }

  .header--no-js .header__nav {
    margin-top: 25px;
    margin-right: -2px;
    margin-left: -184px;

    order: 1;
  }

  .header--index .header__nav {
    margin-left: 0;
  }

  .header__menu-list,
  .header__submenu-list {
    border: none;
  }

  .header__menu-list {
    display: flex;

    justify-content: space-between;
  }

  .header--no-js .header__menu-item {
    flex-grow: 1;

    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .header--no-js .header__menu-item:last-child {
    border: none;
  }

  .header__menu-item:hover {
    background: rgba(0, 0, 0, 0.95);
  }

  .header--no-js .header__menu-link,
  .header--no-js .header__submenu-link {
    max-width: 243px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 9px;
    padding-left: 9px;
  }

  .header__menu-link {
    padding-top: 9px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-left: 4px;

    font-size: 14px;
  }

  .header__menu-link::before {
    display: none;
  }

  .header__menu-link:focus,
  .header__menu-link:hover {
    color: white;
  }

  .header--no-js .header__menu-link,
  .header--index .header__menu-link {
    font-size: 16px;
  }

  .header--no-js .header__menu-link:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  .header__menu-link--with-submenu {
    padding-right: 13px;
  }

  .header--no-js .header__menu-link--with-submenu {
    padding-right: 10px;
  }

  .header--index .header__menu-link--with-submenu {
    padding-right: 15px;
  }

  .header__menu-link--with-submenu::after {
    content: '';

    position: absolute;
    top: 17px;
    right: 3px;

    width: 7px;
    height: 7px;

    background: transparent url('../img/icon-arrow-down.svg') no-repeat 0 0;
    background-size: contain;
  }

  .header--no-js .header__menu-link--with-submenu::after {
    display: none;
  }

  .header--index .header__menu-link--with-submenu::after {
    top: 18px;

    width: 8px;
    height: 8px;
  }

  .header__submenu-list {
    position: absolute;
    z-index: 2;

    display: none;

    background: rgba(0, 0, 0, 0.95);
  }

  .header--no-js .header__submenu-list,
  .header__menu-item:hover .header__submenu-list,
  .header__menu-link:focus + .header__submenu-list,
  .header__submenu-list--show {
    display: block;
  }

  .header--no-js .header__submenu-list {
    position: static;
  }

  .header__submenu-link {
    padding-right: 4px;
    padding-left: 4px;
  }

  .header__search {
    padding: 0;
  }

  .header--no-js .header__search {
    margin-top: 42px;
  }

  .header__search::before {
    top: 0;
    left: 8px;
  }

  .header__search-field,
  .header__search-button {
    margin: 0;
    margin-top: 2px;
  }

  .header__search-field {
    width: auto;
    margin-right: 8px;
    margin-left: 50px;
  }

  .header__search-button {
    width: auto;
  }
}

@media (--desktop) {
  .header--no-js.header--index {
    padding-left: 3%;
  }

  .header__menu {
    display: flex;

    align-items: flex-start;
  }

  .header--no-js .header__menu {
    align-items: stretch;
  }

  .header__nav {
    min-width: 630px;

    flex-grow: 1;
  }

  .header__menu-list {
    justify-content: flex-start;
  }

  .header--index .header__menu-item {
    margin-right: 8px;
  }

  .header--no-js.header--index .header__menu-item {
    margin-right: 0;
  }

  .header--no-js .header__menu-link,
  .header--no-js .header__submenu-link {
    min-width: 273px;
    padding-left: 40px;
  }

  .header--index .header__menu-link,
  .header--index .header__submenu-link {
    padding-left: 40px;
  }

  .header__menu-link {
    padding-top: 22px;
    padding-bottom: 20px;

    font-size: 16px;
  }

  .header--no-js .header__menu-link {
    padding-top: 9px;
    padding-bottom: 8px;
  }

  .header--no-js .header__menu-link::before,
  .header--index .header__menu-link::before {
    left: 5px;

    display: block;
  }

  .header--index .header__menu-link::before {
    top: 20px;
  }

  .header--no-js.header--index .header__menu-link::before {
    top: 4px;
  }

  .header--no-js .header__menu-link--big-events::before {
    top: 4px;
  }

  .header--index .header__menu-link--big-events::before {
    top: 15px;
  }

  .header__menu-link:hover::before {
    opacity: 1;
  }

  .header--no-js .header__menu-link:hover::before {
    opacity: 0.7;
  }

  .header__menu-link--with-submenu {
    padding-right: 15px;
  }

  .header__menu-link--with-submenu::after {
    top: 31px;

    width: 8px;
    height: 8px;
  }

  .header--index .header__menu-link--with-submenu::after {
    top: 31px;
  }

  .header__search {
    margin-top: 22px;
  }

  .header__search::before {
    display: none;
  }

  .header--no-js .header__search::before {
    display: block;
  }

  .header__search-field {
    width: 97px;
    margin-left: 24px;
  }

  .header--no-js .header__search-field {
    width: auto;
    margin-left: 50px;
  }
}

@media (--large-desktop) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }

  .header--no-js.header--index {    
    padding-left: 0;
  }

  .header__container {
    width: 90%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .header__menu-link {
    padding-left: 40px;
  }

  .header__menu-link::before,
  .header__search::before {
    display: block;
  }

  .header__menu-link::before {
    top: 20px;
    left: 5px;
  }

  .header--no-js .header__menu-link::before {
    top: 4px;
  }

  .header__search::before {
    left: 0;
  }

  .header__search-field,
  .header--no-js .header__search-field {
    margin-left: 34px;
  }
}
