.header {
  min-height: 70px;

  color: white;
  background: var(--primary-color);
}

.header--no-js {
  background: black;
}

.header__container {
  margin-left: 22px;
}

.header--no-js .header__container {
  margin: 0;
}

.header__logo {
  position: relative;
  z-index: 2;

  display: inline-block;
  padding: 3px;
  padding-top: 6px;

  border: 3px solid transparent;
}

.header__logo:focus {
  border-color: var(--secondary-color-dark);

  outline: none;
}

.header--no-js .header__logo {
  margin-left: 22px;
}

.header__logo img {
  width: 155px;
  height: 50px;
}

.header__menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 86px;
  height: 70px;
  padding: 0;

  background: none;
  border: 3px solid transparent;

  cursor: pointer;
}

.header__menu-toggle::before,
.header__menu-toggle--close::after {
  content: '';

  position: absolute;
  right: 25px;

  width: 30px;
  height: 3px;

  background: white;
}

.header__menu-toggle::before {
  box-shadow:
    0 -10px 0 0 white,
    0 10px 0 0 white;
}

.header__menu-toggle--close::before {
  transform: rotate(-45deg);

  box-shadow: none;
}

.header__menu-toggle--close::after {
  transform: rotate(45deg);
}

.header__menu-toggle:focus {
  border-color: var(--secondary-color-dark);

  outline: none;
}

.header--no-js .header__menu-toggle {
  display: none;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  padding-top: 70px;

  background: rgba(0, 0, 0, 0.95);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header--no-js .header__menu,
.header__menu-toggle--close + .header__menu {
  display: block;
}

.header--no-js .header__menu {
  position: static;

  padding-top: 0;
}

.header__menu-list,
.header__submenu-list {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__menu-item,
.header__submenu-item {
  list-style: none;
}

.header__menu-link,
.header__submenu-link {
  display: block;
  padding-right: 15px;
  padding-left: 78px;

  text-decoration: none;

  color: white;
  border: 3px solid transparent;
}

.header__menu-link:focus,
.header__submenu-link:focus {
  border-color: var(--secondary-color-dark);

  outline: none;
}

.header__menu-link[href]:hover,
.header__submenu-link[href]:hover {
  color: var(--secondary-color-dark);
}

.header__menu-link {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: bold;
}

.header__menu-link svg,
.header__search svg {
  position: absolute;

  fill: white;
}

.header__menu-link svg {
  top: 8px;
  left: 33px;
}

.header__menu-link--with-submenu svg:last-child {
  display: none;
}

.header__menu-link[href]:hover svg {
  fill: var(--secondary-color-dark);
}

.header__submenu-link {
  padding-bottom: 2px;
}

.header__search {
  position: relative;

  display: flex;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 78px;

  font-size: 0;
}

.header__search svg {
  top: 13px;
  left: 37px;
}

.header__search-field,
.header__search-button {
  margin-top: 12px;

  flex-grow: 1;

  font: inherit;

  color: white;
  background: transparent;
  border: none;
}

.header__search-field {
  width: 70%;
  margin-right: 8px;
  padding-right: 4px;
  padding-left: 4px;

  font-size: 16px;

  box-shadow: 0 2px 0 0 white;
  caret-color: var(--secondary-color-dark);
}

.header__search-field:hover {
  box-shadow: 0 2px 0 0 var(--secondary-color-dark);
}

.header__search-field:focus,
.header__search-button:focus,
.header__search-button:hover {
  color: var(--secondary-color-dark);
  box-shadow: 0 0 0 2px var(--secondary-color-dark);
}

.header__search-field:focus,
.header__search-button:focus {
  outline: none;
}

.header__search-button {
  width: 25%;
  max-width: 80px;
  padding-left: 4px;
  padding-right: 4px;

  font-size: 14px;

  box-shadow: 0 0 0 2px white;

  cursor: pointer;
}

@media (--tablet) {
  .header {
    min-height: 95px;
  }

  .header--no-js {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .header__container,
  .header--no-js .header__container {
    margin-right: 22px;
    margin-left: 15px;
  }

  .header__container {
    display: flex;
  }

  .header--no-js .header__container {
    margin-bottom: 25px;
  }

  .header--index .header__container {
    margin-right: 5.5%;
    margin-left: 4%;
  }

  .header--no-js.header--index .header__container {
    margin-right: 27px;
    margin-left: 16px;
  }

  .header__logo {
    width: 66px;
    height: 66px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 0;

    border-radius: 50%;
  }

  .header--no-js .header__logo {
    margin-left: 0;
  }

  .header--index .header__logo {
    display: none;
  }

  .header__logo img {
    position: relative;
    top: -2px;

    width: 60px;
    height: 60px;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__menu {
    position: static;

    display: block;
    padding: 0;

    background: transparent;
    border: none;
  }

  .header--no-js .header__menu {
    display: flex;
    margin-top: 34px;

    flex-direction: column;
  }

  .header--no-js.header--index .header__menu {
    margin-top: 25px;
  }

  .header__nav {
    margin-right: -9px;
  }

  .header--no-js .header__nav {
    margin-top: 27px;
    margin-right: -2px;
    margin-left: -76px;

    order: 1;
  }

  .header--no-js.header--index .header__nav {
    margin-left: -5px;
  }

  .header__menu-list,
  .header__submenu-list {
    border: none;
  }

  .header__menu-list {
    display: flex;

    justify-content: space-between;
  }

  .header--no-js .header__menu-item {
    flex-grow: 1;

    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .header--no-js .header__menu-item:last-child {
    border: none;
  }

  .header__menu-item:hover {
    background: rgba(0, 0, 0, 0.95);
  }

  .header--no-js .header__menu-link,
  .header--no-js .header__submenu-link {
    max-width: 245px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__menu-link {
    padding-top: 11px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
  }

  .header__menu-link svg {
    display: none;
  }

  .header__menu-link--with-submenu {
    padding-right: 15px;
  }

  .header__menu-link--with-submenu svg:last-child {
    position: absolute;
    top: 20px;
    right: 3px;
    left: auto;

    display: block;
  }

  .header--no-js .header__menu-link--with-submenu svg:last-child {
    display: none;
  }

  .header__submenu-list {
    position: absolute;
    z-index: 1;

    display: none;

    background: rgba(0, 0, 0, 0.95);
  }

  .header--no-js .header__submenu-list,
  .header__menu-item:hover .header__submenu-list,
  .header__menu-link:focus + .header__submenu-list,
  .header__submenu-list--show {
    display: block;
  }

  .header--no-js .header__submenu-list {
    position: static;
  }

  .header__submenu-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .header__search {
    padding: 0;
  }

  .header__search svg {
    top: 3px;
    left: 9px;
  }

  .header__search-field,
  .header__search-button {
    margin: 0;
    margin-top: 2px;
  }

  .header__search-field {
    width: auto;
    margin-right: 8px;
    margin-left: 50px;
  }

  .header__search-button {
    width: auto;
  }
}

@media (--desktop) {
  .header--index {
    min-height: 0;
  }

  .header--no-js .header__container {
    margin-right: 27px;
    margin-left: 20px;
  }

  .header--index .header__container {
    margin-right: 5.1%;
  }

  .header__menu {
    display: flex;

    justify-content: space-between;
    align-items: baseline;
  }

  .header--no-js .header__menu {
    align-items: stretch;
  }

  .header__menu-link {
    padding-top: 35px;
    padding-bottom: 32px;
  }

  .header--no-js .header__menu-link {
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .header--index .header__menu-link {
    padding-top: 20px;
    padding-bottom: 18px;
  }

  .header--no-js.header--index .header__menu-link {
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .header__menu-link--with-submenu svg:last-child {
    top: 44px;
  }

  .header--index .header__menu-link--with-submenu svg:last-child {
    top: 29px;
  }

  .header__search svg {
    display: none;
  }

  .header--no-js .header__search svg {
    display: block;
  }

  .header__search-field {
    margin-left: 0;
  }

  .header--no-js .header__search-field {
    margin-left: 50px;
  }
}

@media (--large-desktop) {
  .header__container,
  .header--no-js .header__container,
  .header--index .header__container,
  .header--no-js.header--index .header__container {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .header__logo,
  .header__menu-item {
    margin-right: 25px;
  }

  .header__menu-item:last-child {
    margin-right: 0;
  }

  .header__menu-link,
  .header--no-js .header__menu-link,
  .header__submenu-link,
  .header--no-js .header__submenu-link {
    padding-left: 40px;
  }

  .header--no-js .header__menu-link,
  .header--no-js .header__submenu-link {
    max-width: 275px;
  }

  .header__menu-link svg,
  .header__search svg {
    display: block;
  }

  .header__menu-link svg {
    top: 30px;
    left: 5px;
  }

  .header--no-js .header__menu-link svg,
  .header--no-js.header--index .header__menu-link svg {
    top: 8px;
  }

  .header--index .header__menu-link svg {
    top: 15px;
  }

  .header__menu-link--big-events svg {
    top: 28px;
  }

  .header--no-js .header__menu-link--big-events svg,
  .header--no-js.header--index .header__menu-link--big-events svg {
    top: 6px;
  }

  .header--index .header__menu-link--big-events svg {
    top: 13px;
  }

  .header__search svg {
    left: 0;
  }

  .header__search-field {
    width: 100px;
    margin-left: 31px;
  }
}
