.heading {
  margin: 0;
}

.heading--primary {
  display: inline-block;
  width: min-content;
  max-width: 100%;
  padding: 4px;
  padding-left: 8px;
  overflow: hidden;

  font-size: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-overflow: ellipsis;

  color: black;
  background: var(--secondary-color-dark);
  box-shadow: 3px 3px 0 0 var(--primary-color);
}

.container .heading {
  margin-top: 25px;
}

.heading__in-quotes::before {
  content: open-quote;

  letter-spacing: 0;
}

.heading__in-quotes::after {
  content: close-quote;

  margin-left: -5px;
}

.heading__first-word {

}

@media (--tablet) {
  .heading {
  }

  .container .heading {
    margin-top: 35px;
  }

  .heading--primary {
    width: auto;

    font-size: 32px;
  }
}
