.heading {
  width: min-content;
  max-width: 100%;
  margin: 0;
  margin-top: 25px;
  padding: 4px;
  padding-left: 8px;
  overflow: hidden;

  font-size: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-overflow: ellipsis;

  color: black;
  background: var(--secondary-color-dark);
  box-shadow: 3px 3px 0 0 var(--primary-color);
}

@media (--tablet) {
  .heading {
    display: inline-block;
    width: auto;
    margin-top: 35px;

    font-size: 32px;
  }
}
