.opening {
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;

  color: white;
  background: var(--primary-color);
}

.opening__container {
  display: flex;
  width: 80%;
  min-width: 270px;
  max-width: 350px;
  min-height: 75vh;
  margin-right: auto;
  margin-left: auto;

  flex-direction: column;
  justify-content: space-between;
}

.opening__logo {
  display: none;
}

.opening__greeting,
.opening__offers,
.opening__stats {
  margin: 0;
  margin-top: 25px;
}

.opening__greeting {
  font-size: 32px;
}

.opening__offers,
.opening__stats {
  padding: 0;
}

.opening__offers-item,
.opening__stats-item {
  list-style: none;
}

.opening__offers-item a {
  width: 80%;
  margin-top: 25px;
}

.opening__offers-item:first-child a {
  margin-top: 0;
}

.opening__stats {
  display: flex;

  justify-content: space-between;

  font-weight: bold;
}

.opening__stats-number {
  display: block;

  font-size: 36px;
}

@media (--tablet) {
  .opening {
    padding-top: 15vh;
  }

  .opening__container {
    width: 690px;
    max-width: none;
    min-height: 60vh;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .opening__logo {
    display: block;
    width: 50%;
  }

  .opening__logo img {
    width: 300px;
    height: 100px;
  }

  .opening__greeting {
    width: 290px;
    margin: 0;

    text-align: left;
  }

  .opening__offers {
    display: flex;
    width: 100%;
    margin: 0;

    justify-content: space-between;
  }

  .opening__offers-item {
    width: 215px;
  }

  .opening__offers-item a {
    width: 100%;
    margin-top: 40px;
  }

  .opening__offers-item:first-child a {
    margin-top: 40px;
  }

  .opening__stats {
    width: 290px;
    margin-left: auto;
  }
}

@media (--desktop) {
  .opening {
    padding-top: 25vh;
  }
}
