.opening {
  display: flex;
  min-height: 84vh;
  padding-top: 70px;
  padding-right: 8%;
  padding-bottom: 25px;
  padding-left: 8%;

  flex-direction: column;
  justify-content: space-between;

  font-weight: bold;
  text-align: center;

  color: white;
  background: black url('../img/background.png') repeat 0 0;
}

.opening__logo {
  display: none;
}

.opening__greeting,
.opening__stats {
  width: 100%;
  max-width: 350px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.opening__greeting {
  font-size: 30px;
}

.opening__stats {
  display: flex;
  padding: 0;

  justify-content: space-between;
}

.opening__stats-item {
  list-style: none;
}

.opening__stats-number {
  display: block;

  font-size: 36px;
}
