.section__heading {
  display: inline-block;
  width: min-content;
  max-width: 84%;
  margin: 0;
  margin-top: 24px;
  margin-right: 8%;
  margin-left: 8%;
  padding: 4px;
  padding-left: 8px;

  font-size: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: black;
  background: var(--yellow-1);
  box-shadow: 3px 3px 0 0 var(--main-color);
}

.section__paragraph {
  margin: 0;
  margin-top: 24px;
}

.section__container {
  padding-right: 8%;
  padding-bottom: 24px;
  padding-left: 8%;

  background-repeat: no-repeat;
  background-position: 50% 20px;
  background-size: 100px;
}

.section__container--colored:nth-of-type(2n-1) {
  background-color: var(--yellow-3);
}

.section__container--professional-community {
  padding-top: 85px;

  background-image: url('../img/icon-professional-community.svg');
  background-position: 50% 5px;
}

.section__container--jewish-world {
  padding-top: 115px;

  background-image: url('../img/icon-jewish-world.svg');
}

.section__container--distance-learning {
  padding-top: 115px;

  background-image: url('../img/icon-distance-learning.svg');
}

@media (--medium-mobile) {
  .section__heading {
    font-size: 26px;
  }
}

@media (--large-mobile) {
  .section__heading {
    font-size: 30px;
  }
}
