.stats {
  width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.stats__list {
  margin: 0;
  padding: 0;

  text-align: center;
}

.stats__item {
  margin-top: 25px;

  list-style: none;

  background-repeat: no-repeat;
  background-size: 100px;
}

.stats__item:nth-child(2n-1) {
  background-position: 80% 0;
}

.stats__item:nth-child(2n) {
  background-position: 25% 0;
}

.stats__item--conferences {
  background-image: url('../img/icon-conferences.svg');
}

.stats__item--trip {
  background-image: url('../img/icon-trip.svg');
}

.stats__item--children {
  background-image: url('../img/icon-children.svg');
}

.stats__item--videos {
  background-image: url('../img/icon-videos.svg');
}

.stats__item--materials {
  background-image: url('../img/icon-materials.svg');
}

.stats__number {
  display: block;

  font-weight: bold;
  font-size: 74px;

  color: black;
}

@media (--tablet) {
  .stats {
    width: 690px;
  }

  .stats__list {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
  }

  .stats__item {
    display: flex;
    width: 200px;
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 80px;

    text-align: left;

    background-size: 80px;
  }

  .stats__item:nth-child(2n-1),
  .stats__item:nth-child(2n) {
    background-position: 50% 0;
  }

  .stats__number {
    margin-right: 10px;

    font-size: 60px;
    line-height: 1;
  }

  .stats__unit {
    width: 145px;
    margin-top: 5px;

    font-size: 14px;
  }
}

@media (--desktop) {
  .stats {    
    margin-top: 65px;
  }
}

@media (--large-desktop) {
  .stats {
    width: 1120px;
  }

  .stats__item:first-child {
    margin-left: 0;
  }

  .stats__item:last-child {
    margin-right: 0;
  }
}
