html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  font-family: 'segoe ui', sans-serif;
  font-size: 16px;
  line-height: 1.4;

  color: var(--main-color);
  background: white;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  border: 0;
}
