:root {
  --main-color: #333;

  --yellow-1: #FFC600;
  --yellow-2: #FFD440;
  --yellow-3: #FFE073;
}

@custom-media --medium-mobile (min-width: 375px);
@custom-media --large-mobile (min-width: 410px);
@custom-media --tablet (min-width: 768px);
