:root {
  --gold: #ffc600;
  --jasmine: #ffe073;
  --jet: #333;
  --mustard: #ffd440;

  --primary-color: var(--jet);
  --secondary-color-dark: var(--gold);
  --secondary-color-middle: var(--mustard);
  --secondary-color-light: var(--jasmine);
}

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --large-desktop (min-width: 1280px);
